/* Color variables used throughout  */
:root{
--night: #171418ff;
--snow: #f6efeeff;
--seasalt: #f9f8f8;
--jade: #0ead69ff;
--black-olive: #363732ff;
--jet: #3a3335ff;
--vermilion: #f0544fff;

/* CSS HEX */

--raspberry: #d81e5bff;


--ash-gray: #c6d8d3ff;
}
